<ion-view view-title="Schedule Appointment" name="doctor1-view">
  <ion-content class="padding">
      <div class="bar bar-header bar-calm">
  <h1 class="title">Schedule Appointment with Dr.Williams</h1>
</div> <br> <br>
      <div class="list list-inset">
        
          <div class="item item-button-right">
    10/8/2015 6:00 pm
    <button class="button button-small button-positive" ng-click="appointment()">
     Schedule 
    </button>
              
  </div>
   
          <div class="item item-button-right">
    10/18/2015 10:00 am
    <button class="button button-small button-positive" ng-click="appointment()">
    Schedule 
    </button>
  </div>

      </div>
    
  </ion-content>
</ion-view>