
<!DOCTYPE html>
<html lang="" data-ng-app="Direction">
<head>
  <meta t="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Direction service</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>
    
  <link rel="stylesheet" href="css/main.css">  
    
    <style>
     #map-canvas {
    width: 650px;
    height: 450px;
}
        body {
            font: 15px 'Cambria', Tahoma, Verdana, sans-serif;
    color: #330066;
   
        }
       

    .container {
     width: 550px;
    
}
.weatherModule , .weatherModule1 {
    border: 1px solid white;
    float: left;
    color: white;
}
        .weatherModule {
     width: 250px;
     background-color: #33FFCC;
}
 .weatherModule1 {
     width: 250px;
     background-color: #33FFCC;
}
  

.currentConditions {
    float: left;
}
 .currentConditions1 {
    float: left;
}


.currentIcon {
    float: left;
    margin: 0 .75em;
}
.currentIcon1 {
    float: left;
    margin: 0 .75em;
}
        .row
        {
            align=center;
        }
       

    </style>
</head>

<body>
    <h1 align=center >Get Directions</h1>
    
<h3 id = 'header'></h3>    
<div class="wrapp" ng-controller="googlemapoutput">
         <div class="row">
		      
             <label> Source</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
             <input type="text" ng-model="startlocation" id="startlocation" placeholder="Enter your starting point" required="true"/>&nbsp;&nbsp;&nbsp;&nbsp;
             <a id="link-1" href ng-click="getMyPos()">Get Current position</a>
             <br>
             <br>
			 
             <label>Destination</label>&nbsp;
             <input type="text"  ng-model="endlocation" id="endlocation" placeholder="Enter your ending point" required="true"/> &nbsp;&nbsp;&nbsp;&nbsp;
             <a id="link-1" href ng-click="getMyPos()">Get Current position</a>
             <br><br>
                <button id="btn" ng-click="calcRoute();getWeather();">
                    Get Direction
                </button>
                 <br/></br>
       <div class="container">
   

    <div class="weatherModule" style="display:none;">
        <h3>Source</h3>
<p class="currentConditions">Current Temperature: {{temp}} &deg F <br/> weather condition: {{weather}}</p>
<div class="currentIcon"><img src="{{icon}} "/></div>
    </div>
    <div class="weatherModule1" style="display:none;"><h3>Destination</h3>
<p class="currentConditions1">Current Temperature: {{temp1}} &deg F <br/> weather condition: {{weather1}}</p>
<div class="currentIcon1"><img src="{{icon1}}" /></div>
</div>
            </div>
    </div>
            <div id="map-canvas" style="height: 400px;"></div>
    </div>
    </body>
</html>


<script>
angular.module('Direction', [])
.controller('googlemapoutput', function ($scope,$http) {

    var map;
    var mapOptions;
    var directionsDisplay = new google.maps.DirectionsRenderer({
        draggable: true
    });
    var directionsService = new google.maps.DirectionsService();
    $scope.initialize = function () {
          var pos = new google.maps.LatLng(0, 0); 
          var mapOptions = {
                zoom: 3,
                center: pos
            };

            map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
     };
    $scope.calcRoute = function () {
       var end = document.getElementById('endlocation').value;
            var start = document.getElementById('startlocation').value;
            var sourceurl = 'http://api.openweathermap.org/data/2.5/weather?q='+start;
            var desturl = 'http://api.openweathermap.org/data/2.5/weather?q='+end;

            var temp,weather,icon;

             $http.get(sourceurl).
                success(function(data) {
                 temp=data.main.temp;
                 temp=((temp - 273.15)*9/5)+32;
                temp= temp.toFixed(2);
                   weather= data.weather[0].description;
                      icon= data.weather[0].icon;
                 document.querySelector(".weatherModule").style.display = 'block';
                 $scope.temp = temp;
           
                $scope.weather = weather; 
               
                });
        
            $http.get(desturl).
                success(function(data) {
                   
                 temp=data.main.temp;
                temp=((temp - 273.15)*9/5)+32;
                temp= temp.toFixed(2);
                   weather= data.weather[0].description;
                
                 document.querySelector(".weatherModule1").style.display = 'block';
                $scope.temp1 = temp;
              // $scope.icon = data.current_observation.icon_url;
                $scope.weather1 = weather; 
                });
        
            var request = {
                origin: start,
                destination: end,
                travelMode: google.maps.TravelMode.DRIVING
            };

            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setMap(map);
                    directionsDisplay.setDirections(response);
                    console.log(status);
                }
           
        });
    };
 
    $scope.getMyPos = function () {
        
         navigator.geolocation.getCurrentPosition(function (position) {

            var pos = new google.maps.LatLng(
            position.coords.latitude,
            position.coords.longitude);

            var mapOptions = {
                zoom: 16,
                center: pos
            };

            map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

            var marker = new google.maps.Marker({
                position: pos,
                map: map
            });
        });
        
        
     };
    
        

    google.maps.event.addDomListener(window, 'load', $scope.initialize);

});         
                
    window.onload = function() {
        document.getElementById('header').innerHTML = "Welcome,  "+localStorage.userName +"!";
        
    };
</script>