<ion-view view-title="doctor1" name="doctor1-view">
  <ion-content class="padding">
      <div class="list list-inset">
        
             <h1>Make appointment with Dr.Williams</h1> 
          <div class="item item-button-right">
    10/7/2015 12:00 pm
    <button class="button button-positive" ng-click="appointment()">
      <i class="icon ion-ios-arrow-forward"></i>
    </button>
  </div>
   
          <div class="item item-button-right">
    10/18/2015 10:00 am
    <button class="button button-positive" ng-click="appointment()">
      <i class="icon ion-ios-arrow-forward"></i>
    </button>
  </div>

      </div>
    
  </ion-content>
</ion-view>